  <!DOCTYPE html>
  <html>
      <head>
          <title>n-0-r-t-h</title>
          <link rel="stylesheet" href="css/style.css" >
            <link rel="stylesheet" href="css/bootstrap.css">
          <link rel="stylesheet" href="css/application.css">

          <script src="https://d26b395fwzu5fz.cloudfront.net/latest/keen.min.js"></script>
          <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
          <script src="static/js/common-web.js"></script>
          <script src="static/js/common-web-keen.js"></script>
          <script src="static/js/jquery.js"></script>
          <script src="static/js/bootstrap.js"></script>
          <script src="static/js/application.js"></script>

          <script type="text/javascript">

              var client = new Keen({
                  projectId: "53f2f4df0727197d74000006",
                  writeKey: "85991a373bb7f0b915a44c79c82ce0731b1fd277203c850065135d4a715dddac4049c8b32526c96162302249365171513f2b9d035031e01bbfb9c81871b54274f30039ce29cf3687211b05d42689caa43b4affebbf303d1116da57a860f7676d0871340b68c4af4c2df41c72cb35a942",
                  readKey: "5125ef31d47f0991031a326afcf879eebca9379ef93fc694a34ded6238f64b600cc3a7f26b5fe56638ee5f76927baa0ac9a5d17aa168cf4fa7a0c7c22d2c36617c67d1fc7b4787a88583909bbc55fe2fe4cd27281975f30cce5e77e2725ebad04ef394c57419869c27e1a76a44e2b0b2"
              });

              CommonWeb.Keen.Client = client
              CommonWeb.track();

          </script>

          <!--

          This website is not affiliated with n-o-r-t-h @elof

          -->

      </head>
      <body>

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="./">High Five Flavored Statistics</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="https://keen.io">Home</a></li>
          <li><a href="https://keen.io/team">Team</a></li>
          <li><a href="https://github.com/keenlabs/dashboard-starter-sinatra">Github</a></li>
          <li><a href="https://users.keen.io">Chat Support</a></li>
        </ul>
      </div>
    </div>
  </div>
<div class="fluid-container">
  <div class="row">

    <div class="col-sm-8">
      <div class="chart-wrapper">
        <div class="chart-title">
          Visits per week
        </div>
        <div class="chart-stage">
          <div id="chart-01"></div>
        </div>
        <div class="chart-notes">
          Needs more!
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Visits by country
        </div>
        <div class="chart-stage">
          <div id="chart-02"></div>
        </div>
        <div class="chart-notes">
          So wordly
        </div>
      </div>
    </div>

  </div>


  <div class="row">

    <div class="col-sm-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Page views by page
        </div>
        <div class="chart-stage">
          <div id="chart-03"></div>
        </div>
        <div class="chart-notes">
          With a little more work this could be the start of a funnel
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Traffic Refferal Info
        </div>
        <div class="chart-stage">
          <div id="chart-04"></div>
        </div>
        <div class="chart-notes">
          What websites are people coming from anyways?
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Clap Counter
        </div>
        <div class="chart-stage">
          <div id="chart-05"></div>
        </div>
        <div class="chart-notes">
          YAY!
        </div>
      </div>
    </div>

  </div>

  <p class="small text-muted">Built with &#9829; by <a href="https://keen.io">Keen IO</a></p>

</div>
</body>
</html>
